<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_HOME" value="/pkmj/gameserver/logs" />
	<property name="PKMJ_LEVEL" value="INFO" />
	<property name="ROOT_LEVEL" value="ERROR" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>45</maxHistory>
			<FileNamePattern>${LOG_HOME}/pkmj.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="OTHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>45</maxHistory>
			<FileNamePattern>${LOG_HOME}/other.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
		</rollingPolicy>
	</appender>

	<logger name="com.pkmj" level="${PKMJ_LEVEL}" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<root level="${ROOT_LEVEL}">
		<appender-ref ref="OTHER" />
	</root>

</configuration>
